__pycache__/
*.py[cod]
.venv/
venv/
.env
.ipynb_checkpoints/

data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
!data/demo/
!data/demo/.gitkeep
!data/demo/images/
!data/demo/images/.gitkeep
!data/demo/labels.csv
models/*.pth
!models/cancer_cnn.pth
outputs/*
!outputs/.gitkeep
!outputs/figures/
!outputs/figures/.gitkeep
!outputs/predictions/
!outputs/predictions/.gitkeep

.DS_Store
Thumbs.db
